body{
    margin:0;
    padding:0;
    background:#0d1117;
    color:white;
    font-family:Arial,sans-serif;
}

nav{
    background:#161b22;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:15px;
    font-weight:bold;
}

.card{
    background:#161b22;
    margin:15px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.3);
}

h1,h2{
    color:#00d084;
}

button{
    background:#00d084;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#00b36b;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border-radius:5px;
    border:1px solid #333;
    background:#222;
    color:white;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #333;
    padding:10px;
    text-align:center;
}

hr{
    border:1px solid #333;
}
