*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0d1117;
color:#ffffff;
font-family:Arial,sans-serif;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
background:#161b22;
border-bottom:1px solid #222;
}

.logo{
font-size:26px;
font-weight:bold;
color:#00d084;
}

.account{
text-align:right;
}

.account span{
font-size:12px;
color:#999;
}

.account h2{
color:#00d084;
margin-top:5px;
}

.market-top{
display:flex;
gap:10px;
padding:15px;
background:#161b22;
}

.market-top select{
flex:1;
padding:12px;
background:#1f2937;
color:#fff;
border:1px solid #333;
border-radius:8px;
font-size:15px;
}

.chart-card{
margin:15px;
background:#161b22;
border-radius:15px;
padding:15px;
}

.chart-card h2{
margin-bottom:15px;
color:#00d084;
}

#chart{
width:100%;
height:75vh;
background:#0d1117;
border-radius:12px;
}

.trade-card{
margin:15px;
background:#161b22;
border-radius:15px;
padding:20px;
}

.trade-card h3{
margin-bottom:10px;
color:#00d084;
}

.trade-card input,
.trade-card select{
width:100%;
padding:12px;
margin-bottom:15px;
background:#1f2937;
color:white;
border:1px solid #333;
border-radius:8px;
}

.quick-stakes{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:8px;
margin-bottom:20px;
}

.quick-stakes button{
padding:12px;
background:#222;
color:#fff;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

.quick-stakes button:hover{
background:#00d084;
}

.payout{
background:#1f2937;
padding:15px;
border-radius:10px;
margin-bottom:20px;
text-align:center;
}

.buy-up,
.buy-down{
width:100%;
padding:16px;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
margin-top:12px;
}

.buy-up{
background:#00c853;
color:white;
}

.buy-down{
background:#d50000;
color:white;
}

.buy-up:hover{
background:#00b248;
}

.buy-down:hover{
background:#b00020;
}

@media(max-width:768px){

.market-top{
flex-direction:column;
}

.quick-stakes{
grid-template-columns:repeat(3,1fr);
}

#chart{
height:65vh;
}

}
