*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0d1117;
color:#fff;
font-family:Arial,sans-serif;
}

.topbar{
height:70px;
background:#161b22;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
border-bottom:1px solid #222;
}

.logo{
font-size:22px;
font-weight:bold;
color:#00d084;
}

.balance-box{
text-align:right;
}

.balance-box span{
font-size:12px;
color:#aaa;
}

.market-strip{
display:flex;
gap:10px;
padding:10px;
background:#111827;
}

.market-strip select{
flex:1;
padding:12px;
background:#1f2937;
color:#fff;
border:none;
border-radius:10px;
}

.chart-card{
height:60vh;
padding:10px;
}

.chart-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.live-dot{
color:#00d084;
font-size:18px;
}

#chart{
width:100%;
height:34vh;
background:#111827;
border-radius:15px;
}

.trade-card{
background:#161b22;
margin:10px;
padding:18px;
border-radius:18px;
}

.trade-card h2{
margin-bottom:20px;
color:#00d084;
}

.form-group,
#timeBox,
#tickBox,
#barrierBox,
#digitBox{
margin-bottom:18px;
}

label{
display:block;
margin-bottom:8px;
font-size:14px;
}

select,
input{
width:100%;
padding:14px;
background:#1f2937;
color:#fff;
border:none;
border-radius:10px;
}

.digit-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.digit-btn{
height:55px;
background:#1f2937;
color:#fff;
border:none;
border-radius:12px;
font-size:20px;
font-weight:bold;
}

.digit-btn.active{
background:#00d084;
}
.stake-card{
margin-top:20px;
}

.stake-controls{
display:flex;
gap:10px;
margin-top:10px;
margin-bottom:20px;
}

.stake-controls button{
width:55px;
height:55px;
border:none;
border-radius:12px;
background:#00d084;
color:#fff;
font-size:28px;
font-weight:bold;
cursor:pointer;
}

.stake-controls input{
flex:1;
text-align:center;
font-size:22px;
}

.payout-card{
background:#1f2937;
padding:15px;
border-radius:12px;
margin-bottom:20px;
text-align:center;
}

.payout-card h2{
margin-top:8px;
color:#00d084;
}

.trade-buttons{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

.buy-btn,
.sell-btn{
height:60px;
border:none;
border-radius:14px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

.buy-btn{
background:#00d084;
color:#fff;
}

.sell-btn{
background:#ff4d4f;
color:#fff;
}
.trade-card{
position:fixed;
left:0;
right:0;
bottom:0;
background:#161b22;
border-top-left-radius:25px;
border-top-right-radius:25px;
padding:20px;
height:56vh;
overflow-y:auto;
box-shadow:0 -5px 20px rgba(0,0,0,.5);
}

.chart-card{
height:42vh;
padding:10px;
margin-bottom:0;
}

.trade-card::-webkit-scrollbar{
width:4px;
}

.trade-card::-webkit-scrollbar-thumb{
background:#00d084;
border-radius:10px;
}
